<web-app version="4.0">
  <display-name>Archetype Created Web Application</display-name>


  <filter>
    <filter-name>CounterFilter</filter-name>
    <filter-class>practice1.CounterFilter</filter-class>
  </filter>


  <filter-mapping>
    <filter-name>CounterFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

</web-app>
